body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#screen{
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

input{
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

label{
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

button{
    background-color: #0d86ff;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 6px 25px;
}

a{
    color: #0d86ff;
    text-decoration: none;
}

#gast{
    color: rgb(62, 62, 62);
    text-decoration: underline;
}
