body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#screen{
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
  
}

input{
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

label{
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

#submit{
    background-color: #0d86ff;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 6px 25px;
}

a{
    color: #0d86ff;
    text-decoration: none;
}

#postleitzahl{
    flex: 1;
    width: 17%;
}

#stadt{
    flex: 1;
    width: 33%;
}

#hausnummer{
    flex: 1;
    width: 17%;
}

#strasse{
    flex: 1;
    width: 33%;
}

select{
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
    border: 1.6px solid #000000;
}



