/* Setzt die Standard-Margin auf 0 und definiert die Schriftart */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Stile für das Registrierungsformular */
#screen {
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

/* Stile für Eingabefelder */
input {
    font-size: 1.2em;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

/* Stile für Labels */
label {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* Stile für den Submit-Button */
#submit {
    background-color: #0d86ff;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 6px 25px;
}

/* Hover-Effekt für Buttons und Links */
button:hover, #submit:hover, a:hover {
    background-color: #085eb5;
}

/* Active-Effekt für Buttons und Links */
button:active, #submit:active, a:active {
    background-color: #4fa7ff;
}

/* Stile für Links */
a {
    color: #0d86ff;
    text-decoration: none;
}

/* Stile für die Postleitzahl-Eingabe */
#postleitzahl {
    flex: 1;
    width: 17%;
}

/* Stile für die Stadt-Eingabe */
#stadt {
    flex: 1;
    width: 33%;
}

/* Stile für die Hausnummer-Eingabe */
#hausnummer {
    flex: 1;
    width: 30%;
}

/* Stile für die Straße-Eingabe */
#strasse {
    flex: 1;
    width: 170%;
}

/* Stile für Dropdown-Menüs */
select {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
    border: 1.6px solid #000000;
}