body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#screen{
    margin-top: 10em;
    text-align: center;
    font-size: 1.2em;
}

input{
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

label{
    text-align: left;
    font-size: 0.8em;
}

button{
    background-color: #0d86ff;
    color: white;
    font-size: 1.2em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

a{
    color: #0d86ff;
    text-decoration: none;
}

#gast{
    color: rgb(62, 62, 62);
    text-decoration: underline;
}
