/* Setzt die Standard-Margin auf 0 und definiert die Schriftart */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Stile für das Anmeldeformular */
#screen {
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Stile für Eingabefelder */
input {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

/* Stile für Labels */
label {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* Stile für den Submit-Button */
#submit {
    background-color: #0d86ff;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 6px 25px;
    max-width: 150px;
}

/* Hover-Effekt für Buttons und Links */
button:hover, #submit:hover{
    background-color: #085eb5;
}

/* Active-Effekt für Buttons und Links */
button:active, #submit:active, a:active {
    background-color: #4fa7ff;
}

/* Stile für Links */
a {
    color: #0d86ff;
    text-decoration: none;
}

/* Stile für den Gast-Link */
#gast {
    color: rgb(62, 62, 62);
    text-decoration: underline;
}