/* Setzt die Standard-Margin auf 0 und definiert die Schriftart */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Stile für den Header-Bereich */
#menu-header {
    display: flex;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

/* Stile für das Logo */
#logo {
    width: 250px;
    height: 50px;
    display: flex;
    left: 100;
    background-color: #000000;
    align-items: center;
}

/* Stile für das Menü */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Stile für die Menüelemente */
#menu ul li {
    margin: 0 25px;
}

/* Stile für die Links im Menü */
#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* Hover-Effekt für die Links im Menü */
#menu ul li a:hover {
    color: #4fa7ff;
}

/* Stile für den Anmelden-Button */
#signin {
    background-color: #0d86ff;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    border-style: none;
    padding: 8px;
}

/* Hover-Effekt für Buttons und Links */
button:hover, #submit:hover, a:hover {
    background-color: #085eb5;
}

/* Active-Effekt für Buttons und Links */
button:active, #submit:active, a:active {
    background-color: #4fa7ff;
}

/* Stile für den äußeren Bildschirm */
#outerScreen, #screen {
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Stile für den äußeren Bildschirm */
#outerScreen {
    margin-top: 2%;
    text-align: center;
}

/* Stile für den inneren Bildschirm */
#screen {
    margin-top: -6%;
    text-align: center;
}

/* Stile für Eingabefelder */
input {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

/* Stile für Labels */
label {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* Stile für Buttons */
button {
    background-color: #0d86ff;
    color: white;
    font-size: 1em;
    border-radius: 7px;
    margin-bottom: 10px;
    max-width: 260px;
}

/* Stile für den Genehmigen-Button */
#genehmigen {
    background-color: rgb(21, 177, 21);
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* Stile für den Ablehnen-Button */
#ablehnen {
    background-color: rgb(249, 68, 68);
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

/* Hover-Effekt für den Genehmigen-Button */
#genehmigen:hover {
    background-color: rgb(16, 125, 16);
}

/* Hover-Effekt für den Ablehnen-Button */
#ablehnen:hover {
    background-color: rgb(189, 50, 50);
}

/* Active-Effekt für den Genehmigen-Button */
#genehmigen:active {
    background-color: rgb(7, 59, 7);
}

/* Active-Effekt für den Ablehnen-Button */
#ablehnen:active {
    background-color: rgb(146, 40, 40);
}

/* Stile für den Button-Container */
#buttons {
    display: flex;
    justify-content: right;
}

/* Stile für Links */
a {
    color: #0d86ff;
    text-decoration: none;
}

/* Stile für Dropdown-Menüs */
select {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
    border: 1.6px solid #000000;
}

/* Stile für das Von-Datum */
#vonTag {
    flex: 1;
    width: 45%;
}

/* Stile für das Bis-Datum */
#bisTag {
    flex: 1;
    width: 45%;
}

/* Stile für Textbereiche */
textarea {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    border: 1.6px solid #000000;
}

/* Stile für die Sterne */
#stern {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0);
    border-style: none;
    margin: 8px;
    font-size: 1.3em;
    color: #0000002f;
}

/* Hover-Effekt für die Sterne */
#stern:hover {
    font-size: 1.45em;
    color: #000000;
}

/* Stile für den Sterne-Container */
#sterne {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}