/* Setzt die Standard-Margin auf 0 und definiert die Schriftart und Textausrichtung */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Stile für den Header-Bereich */
#menu-header {
    display: flex;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

/* Stile für das Logo */
#logo {
    width: 250px;
    height: 50px;
}

/* Stile für das Menü */
#menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Stile für die Menüelemente */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Stile für die Links im Menü */
#menu ul li {
    margin: 0 25px;
}

/* Stile für die Links im Menü */
#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* Hover-Effekt für die Links im Menü */
#menu ul li a:hover {
    color: #4fa7ff;
}

/* Stile für Buttons */
button {
    background-color: #0d86ff;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    border-style: none;
    padding: 8px;
}

/* Hover-Effekt für Buttons */
button:hover {
    background-color: #085eb5;
}

/* Active-Effekt für Buttons */
button:active {
    background-color: #4fa7ff;
}

/* Stile für Bilder */
img {
    width: 100%;
    height: auto;
}

/* Stile für den Rezensionen-Bereich */
#rezension {
    text-align: left;
    font-size: 1.2em;
    align-items: start;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-bottom: 5%;
    border-radius: 25px;
    background-color: rgb(249, 249, 249);
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.139);
}

.rezension {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333; /* Sicherstellen, dass die Schriftfarbe sichtbar ist */
    max-width: 700px; /* Maximale Breite der Rezensionen */
    width: 100%; /* Rezensionen nehmen die volle Breite des Containers ein */
}

/* Stile für den Rezension erstellen Button */
#rezension-erstellen {
    background-color: #000000;
    margin-left: 190%;
}

/* Stile für den Rezension erstellen Link */
#rezension-erstellen-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Hover-Effekt für den Rezension erstellen Button */
#rezension-erstellen:hover {
    background-color: #505050;
}

/* Active-Effekt für den Rezension erstellen Button */
#rezension-erstellen:active {
    background-color: #b6b6b6;
}

/* Stile für die Hauptüberschrift */
#header-container h1 {
    flex: 1;
    text-align: center;
}

/* Stile für den Container für Rezensionen */
#rezension-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Sicherstellen, dass die Schriftfarbe sichtbar ist */
}