/* Setzt die Standard-Margin auf 0 und definiert die Schriftart */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin-bottom: 25px;
}

/* Stile für den Header-Bereich */
#menu-header {
    display: flex;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

/* Stile für das Logo */
#logo {
    width: 250px;
    height: 50px;
    display: flex;
    left: 100;
    background-color: #000000;
    align-items: center;
}

/* Stile für das Menü */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Stile für die Menüelemente */
#menu ul li {
    margin: 0 25px;
}

/* Stile für die Links im Menü */
#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* Hover-Effekt für die Links im Menü */
#menu ul li a:hover {
    color: #4fa7ff;
}

/* Stile für Buttons */
button {
    background-color: #0d86ff;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    border-style: none;
    padding: 8px;
}

/* Hover-Effekt für Buttons und Links */
button:hover, #submit:hover, a:hover {
    background-color: #085eb5;
}

/* Active-Effekt für Buttons und Links */
button:active, #submit:active, a:active {
    background-color: #4fa7ff;
}

/* Stile für den Hauptinhalt */
#screen {
    margin-top: 3%;
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Stile für Eingabefelder */
input {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

/* Stile für Labels */
label {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 10px;
}

/* Stile für den Submit-Button */
#submit {
    background-color: #0d86ff;
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 6px 25px;
    max-width: 190px;
}

/* Stile für Links */
a {
    color: #0d86ff;
    text-decoration: none;
}

/* Stile für Dropdown-Menüs */
select {
    font-size: 1.2em;
    border-radius: 10px;
    width: 300px;
    height: auto;
    border: 1.6px solid #000000;
}

/* Stile für das Von-Datum */
#vonTag {
    flex: 1;
    width: 45%;
}

/* Stile für das Bis-Datum */
#bisTag {
    flex: 1;
    width: 45%;
}

/* Stile für Zimmerbilder */
#zimmerImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Stile für die Zimmer-Vorschau */
#zimmerPreview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}