/* Setzt die Standard-Margin auf 0 und definiert die Schriftart und Hintergrundfarbe */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Stile für den Header-Bereich */
#menu-header {
    display: flex;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

/* Stile für das Logo */
#logo {
    width: 250px;
    height: 50px;
    display: flex;
    left: 100;
    background-color: #000000;
    align-items: center;
}

/* Stile für das Menü */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Stile für die Menüelemente */
#menu ul li {
    margin: 0 25px;
}

/* Stile für die Links im Menü */
#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* Hover-Effekt für die Links im Menü */
#menu ul li a:hover {
    color: #4fa7ff;
}

/* Stile für Buttons */
button {
    background-color: #0d86ff;
    color: white;
    font-size: 1.2em;
    border-radius: 4px;
    border-style: none;
    padding: 8px;
}

/* Hover-Effekt für Buttons */
button:hover {
    background-color: #085eb5;
}

/* Active-Effekt für Buttons */
button:active {
    background-color: #4fa7ff;
}

/* Stile für den Speisekarten-Bereich */
section#karte {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stile für die Listen in der Speisekarte */
#karte ul {
    list-style: none;
    margin: 10;
    padding: 0;
    align-items: center;
}

/* Stile für die Überschriften in der Speisekarte */
#karte h3 {
    margin-left: 30px;
}

/* Stile für die Listenelemente in der Speisekarte */
#karte ul li {
    margin-top: 15px;
    margin-left: 60px;
}

/* Stile für die Links in der Speisekarte */
#karte ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* Hover-Effekt für die Links in der Speisekarte */
#karte ul li a:hover {
    color: #f0a500;
}